[buildout]
develop = .
parts = test
find-links = ftp://ftp.tummy.com/pub/python-memcached/python-memcached-1.34.tar.gz
             http://download.zope.org/distribution/


[test]
recipe = zc.recipe.testrunner
eggs = lovely.memcached [test]



